@using FILMEX.Models
@model List<FILMEX.Models.Entities.Series>
@{
    ViewData["Title"] = "SeriesToWatch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Series To Watch</h1>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var serie in Model)
        {
            <tr>
                <td>@serie.Title</td>
                <td>
                    <form asp-controller="Series" asp-action="RemoveFromWatchList" method="post">
                        <input type="hidden" name="SerieId" value="@serie.Id" />
                        <button type="submit" class="btn btn-danger btn-sm"><i class="fa-solid fa-trash"></i></button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>



