@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Top 6 Movies</h2>
            <div class="row">
                @for (int i = 1; i <= 6; i++)
                { // podmienic na dane z bazy danych
                        <div class="col-md-2"> <!-- Adjust the column size based on your preference -->
                            <div class="card">
                                <img src="https://fwcdn.pl/fpo/47/87/10034787/8112071.6.jpg" class="card-img-top movie-image" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="https://localhost:7149/Movie/Detail" class="btn btn-primary">See details</a>
                                </div>
                            </div>
                        </div>
                }
            </div>
        </div>
    </div>
</div>

<style>
    .movie-image {
        object-fit: cover; /* Maintain aspect ratio and cover entire area */
    }
</style>

<script>
    // click handler
    document.querySelectorAll('.movie-tile').forEach(item => {
        item.addEventListener('click', event => {
            alert('You clicked on ' + item.querySelector('.card-title').innerText);
        });
    });
</script>
