@using FILMEX.Models.Entities

@{
    ViewData["Title"] = "Home Page";
}

@{
    int i = 0;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12"> 
            <h2>Top Movies</h2>
            <div class="row">
                @foreach (var movie in Model)
                {
                if (i >= 6) break;
                <div class="col-md-2">
                    <div class="card">
                        <img src="@movie.AttachmentSource" class="card-img-top movie-image" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">@movie.Title</h5>
                            <p class="card-text">@movie.Description</p>
                            <a href="@Url.Action("Detail", "Movie", new { id = movie.Id })" class="btn btn-primary">See details</a>
                        </div>
                    </div>
                </div>
                i++;
                }
            </div>
        </div>
    </div>
</div>

<style>
    .movie-image {
        object-fit: cover; /* Maintain aspect ratio and cover entire area */
    }
</style>
