@using FILMEX.Models
@model FILMEX.Models.SearchViewModel
@{
    ViewData["Title"] = "SeriesByCategory";
}

<style>
    .movie-image {
        object-fit: cover; /* Maintain aspect ratio and cover entire area */
    }
</style>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Series</h2>
            <div class="row">
                @if (Model.Series.Any())
                {
                    @foreach (var series in Model.Series)
                    {
                        <div class="col-md-2">
                            <div class="card">
                                <img src="/@series.AttachmentSource" class="card-img-top movie-image" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">@series.Title</h5>
                                    <a href="@Url.Action("Detail", "Series", new { id = series.Id })" class="btn btn-primary">See details</a>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <p>No Search Results Found</p>
                }
            </div>
        </div>
    </div>
</div>


