@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Index";
}

<h2>Tytul filmu</h2>

<div style="display: flex; align-items: top;">
    <img src="https://fwcdn.pl/fpo/47/87/10034787/8112071.6.jpg" class="img-thumbnail" alt="..." style="margin-right: 10px;">
        <p>opisu filmu</p>
</div>