@model FILMEX.Models.Entities.Movie
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Index";
}

<h2>@Model.Title</h2>
<div style="display: flex; align-items: top;">
    <img src="@Model.AttachmentSource" class="img-thumbnail" alt="Movie Image" style="margin-right: 10px;">
    <p>@Model.Description</p>
</div>
