@{
    ViewData["Title"] = "Movie Tiles";
}

<style>
    .movie-image {
        width: 195px;
        height: 300px;
        object-fit: cover;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-16">
            <h2>Movie Tiles Section</h2>
            <div class="row">
                <div class="col-md-2 mb-2">
                    <div class="card">
                        <img src="https://fwcdn.pl/fpo/47/87/10034787/8112071.6.jpg" class="card-img-top movie-image" alt="Movie Image">
                        <div class="card-body">
                            <h5 class="card-title">Movie Title 1</h5>
                            <p class="card-text">Description of the movie.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 mb-2">
                    <div class="card">
                        <img src="https://fwcdn.pl/fpo/47/87/10034787/8112071.6.jpg" class="card-img-top movie-image" alt="Movie Image">
                        <div class="card-body">
                            <h5 class="card-title">Movie Title 2</h5>
                            <p class="card-text">Description of the movie.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 mb-2">
                    <div class="card">
                        <img src="https://fwcdn.pl/fpo/47/87/10034787/8112071.6.jpg" class="card-img-top movie-image" alt="Movie Image">
                        <div class="card-body">
                            <h5 class="card-title">Movie Title 3</h5>
                            <p class="card-text">Description of the movie.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 mb-2">
                    <div class="card">
                        <img src="https://fwcdn.pl/fpo/47/87/10034787/8112071.6.jpg" class="card-img-top movie-image" alt="Movie Image">
                        <div class="card-body">
                            <h5 class="card-title">Movie Title 4</h5>
                            <p class="card-text">Description of the movie.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
